/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {
  margin: 10% 10%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chekin {
  background-color: #73de77 !important;
  border-radius: 20px !important;
  padding: 0.5rem 5rem !important;
  display: flex !important;
  justify-content: center !important;
  margin: 2rem auto !important;
  flex-direction: row !important;
}
.danger-btn {
  background-color: #e58b77 !important;
  border-radius: 20px !important;
  flex-direction: row !important;
  padding: 0.5rem 5rem !important;
  display: flex !important;
  justify-content: center !important;
  margin: 2rem auto !important;
}
.flex-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.hour {
  font-size: 4.5rem;
}
