<div class="container text-center">
    <div class = "row">
        <div class="col-lg-12">
        <div class="card shadow-lg p-3 mb-5 bg-white">
        <div class="card-header"> New Company </div>
        <div class="card-body">
            <%= render 'form' %>
        </div>
        
    </div>
</div>